<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">LR App</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <ng-container
        *ngIf="
          this.auth.isAuthenticated();
          then authenticated;
          else notAuthenticated
        "
      >
      </ng-container>
      <ng-template #notAuthenticated>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ng-template>
      <ng-template #authenticated>
        <li class="nav-item">
          <a class="nav-link" routerLink="/todolist">To Do List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li>
          <a
            class="nav-link"
            tabindex="0"
            role="button"
            (click)="logout()"
            (keydown.enter)="logout()"
            >Logout</a
          >
          <!-- 40:11  error  Elements with interaction handlers must be focusable   so tabindex used  An <a> tag without an href attribute is not focusable by default in older browsers or in some cases, and adding tabindex="0" ensures it is focusable and can be navigated to using the keyboard. -->
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
